{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Contact</title>
  {% block css %}

  {% endblock %}
</head>

<body>
  <!--================ Start Header Menu Area =================-->

  <!--================ End Header Menu Area =================-->


  <!-- ================ start banner area ================= -->
  <section class="" style="background-color:#dbe3da;">
    <div class="container">
      <div class="row no-gutters align-items-center pt-60px">
        <div class="col-5 d-none d-sm-block">
          <div class="hero-banner__content">
            <img class="img-fluid" src="{% static 'core/img/fotos/celular2.png' %}" alt="">
          </div>
        </div>
        <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
          <div class="hero-banner__content">
            <h1 style="font-family: 'Besttia Brush', sans-serif;">Contacto</h1>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Redes Sociales</li>
              </ol>
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="contact-area-info section-padding-0-100">
    <div class="container">
      <br>
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md-6">
                <div class="contact--thumbnail">
                    <img src="{% static 'core/img/fotos/1a.png' %}" alt="" style="height: 300px;" width="400px">
                </div>
            </div>

            <div class="col-12 col-md-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>Contáctanos</h2>
                    <p>Estamos mejorando nuestros servicios para una mejor atención</p>
                </div>
                <!-- Contact Information -->
                <div class="contact-information">
                    <p><span>Teléfono:</span> +56 9 1234 5678</p>
                    <p><span>Email:</span> info.flowerpots@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Contact Area Info End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>Envíanos un mensaje</h2>
                    <p>Envíanos un mensaje y te contactaremos lo antes posible</p>
                </div>
                <!-- Contact Form Area -->
                <div class="contact-form-area mb-100">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-name" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="contact-email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="contact-subject" placeholder="Asunto">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" cols="30" rows="10" style="height: 150px;" placeholder="Mensaje"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                              <a class="button button--active mt-3 mt-xl-4" href="#!">Enviar mensaje</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-lg-6">
              <img src="{% static 'core/img/fotos/4a.jpg' %}"  style="height: 300px;" width="400px" alt="">
            </div>
        </div>
    </div>
</section>
<br><br>
  <!-- ================ contact section end ================= -->



  <!--================ Start footer Area  =================-->
  {% endblock %}
  <!--================ End footer Area  =================-->



  {% block js %}

  {% endblock %}
</body>

</html>